  #V0.0.9
[ws]
  #The address of the server WebSocket IotVega
url=ws://127.0.0.1:8001
  #The user of the server WebSocket IotVega
login=root
  #The user password
password=123
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #SMTP settings
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[smtp]
  #Enabled SMTP for send  email messages
status=false
  #Address SMTP servers
host=smpt.example.com
  #Port to connect to
port=465
  #Secure for SMTP. true for 465, false for other ports
secure=true
  #SMTP user
user=mailer@example.com
  #SMTP password
password=123456Temppwd
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #Telegram settings
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[telegram]
  #Enabled telegram for send messages
status=false
  #Token telegram Bot API
token=example
  #Administrator Chat id for send messages
#chatId=12345
  #Enabled proxy Socks5 for telegram
proxy_status=false
  #Socks5 host proxy for telegram
#proxy_host=example.com
  #Socks5 port proxy for telegram
#proxy_port=1080
  #Socks5 login proxy for telegram
#proxy_name=name
  #Socks5 password proxy for telegram
#proxy_password=password
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #SMSC.ru settings
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[smsc]
  #Enabled smsc.ru to take voice messages
status=false
  #The login of API SMSC.ru
login=example
  #The password of API SMSC.ru
password=123
  #Voice for reading text messages
  #OPTIONAL, string, possible values [m,m2,w,w2,w3,w4]
voice=w
  #The sender of the message
  #OPTIONAL
#sender=example
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #SMPP settings
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[smpp]
  #Enabled smpp for sms messages
  #boolean
status=false
  #The address of the smpp
host=example
  #The port of the smpp
port=3340
  #********************
  #smpp bind_transceiver
  #********************
  #Your unique system_id on smpp
system_id=example
  #Password on smpp
password=example
  #Identifies the type of ESME system requesting to bind as a transceiver with the MC.
  #OPTIONAL [VMS,OTA,null]
#system_type=null
  #Identifies the version of the SMPP protocol supported by the ESME.
  #OPTIONAL
#interface_version=52
  #A single ESME address or a range of ESME addresses served via this SMPP transceiver session.
  #Set to NULL if not known.
  #OPTIONAL
#address_range=null
  #Type of Number (TON) for ESME address(es) served via this SMPP
  #transceiver session. Set to NULL (Unknown) if not known.
  #OPTIONAL
#addr_ton=null
  #Numbering Plan Indicator (NPI) for ESME address(es) served via this
  #SMPP transceiver session. Set to NULL (Unknown) if not known
  #OPTIONAL
#addr_npi=null
  #********************
  #smpp submit_sm
  #********************
  #The sender of the message
  #OPTIONAL
#source_addr=example
  #Type of Number for source address. If not known, set to NULL (Unknown).
  #OPTIONAL
#source_addr_ton=5
  #The service_type parameter can be used to indicate the SMS Application service
  #associated with the message. Specifying the service_type allows theESME to avail
  #of enhanced messaging services such as “replace by service_type” or to control
  #the teleservice used on the air interface. Set to NULL for default MC settings
  #OPTIONAL
#service_type=null
  #Numbering Plan Indicator for source address.
  #If not known, set to NULL(Unknown).
  #OPTIONAL
#source_addr_npi=null
  #Type of Number for destination
  #OPTIONAL
#dest_addr_ton=1
  #Numbering Plan Indicator for destination
  #OPTIONAL
#dest_addr_npi=1
  #Indicates Message Mode and Message Type
  #OPTIONAL
#esm_class=5
  #Protocol Identifier. Network specific field.
  #OPTIONAL
#protocol_id=5
  #Designates the priority level of the message
  #OPTIONAL
#priority_flag=5
  #The short message is to be scheduled by the MC for delivery.
  #Set to NULL for immediate message delivery
  #OPTIONAL
#schedule_delivery_time=null
  #The validity period of this message.
  #Set to NULL to request the MC default validity period
  #OPTIONAL
#validity_period=null
  #Indicator to signify if a MC delivery receipt, manual ACK, delivery ACK or an
  #intermediate notification is required.
  #OPTIONAL
#registered_delivery=0
  #Flag indicating if the submitted message shouldn replace an existing message.
  #OPTIONAL
#replace_if_present_flag=5
  #Defines the encoding scheme of the short message user data
  #OPTIONAL
#data_coding=5
  #Indicates the short message to send from a list of pre- defined (‘canned’)
  #short messages stored on the MC. If not using a MC canned message, set to NULL.
  #OPTIONAL
#sm_default_msg_id=null
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #Http settings
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[http]
  #Enabled HTTP
status=true
  #TCP port
ip=127.0.0.1
  #Port 
port=4040
  #login
login=notifier
  #password
password=iotvega
  #secret_key
key=0000-1111-ffff-0000
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #Administrator app settings
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[administrator]
  #Enable sending system messages. Sends to addresses:
  #For SMTP to address SMTP user
  #For Telegram to address chatId
  #For SMSC and SMPP to address phone
status=true
  #Gateway changed activity status to true
gateway_active=true
  #Gateway changed activity status to false
gateway_inactive=true
  #IotVegaServer unavailable 
server_not_available=true
  #Sending test messages at application startup
test_startup_message=true 
  #administrator phone
#phone=7**********
#Sending reports of low battery charge
low_battery=false
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  #Other app settings
  #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[system]
  #Delay time between sms for device.
  #Value in ms
  #-1 to disable
#betweenTimeSMS=30000
  #debug mode
debugMOD=true
  #Auto-Update Application
auto_update=true
